{% extends 'blog/base.html' %}

{% block content %}
<style>
    table{ height: 70px;}
    td{font-size: 12px;}
    #td{
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        width: 100px;
    }
    h2{
        text-align: justify
    }
</style>
<br>
    <div>  
        <h2>Principais dispositivos móveis existentes no mercado</h2>
        <table border="1" class="table table-bordered">
            <tr>
                <td rowspan="5" id="td"><br><br>Smartphone <br> Samsung <br>Galaxy S8</td> 
                <td>Processador: Octa-Core 2.3 GHz</td>
            </tr>
               
            <tr>
                <td>Memória: 4 GB</td>
            </tr>
            <tr>
                <td>Comunicação: 3G Downlink / Uplink: HSPA+ 42.2 / 5.76 Mbps  - 4G</td>
            </tr>

            <tr>
                <td>Armazenamento: Interno de 64 GB. Expansível até 2 TB com cartão microSD</td>
            </tr>

                <tr>
                    <td>Sistema Operacional: Android 7.0 </td>
                </tr>
        </table>
    </div>

    <div>
            <table border="1" class="table table-bordered">
                <tr>
                    <td rowspan="5" id="td"><br><br><br>PDA	</td> 
                    <td>Processador: Intel em 624 MHz</td>
                </tr>
                   
                <tr>
                    <td>Memória: 32 MB</td>
                </tr>
                <tr>
                    <td>Comunicação: wireless / Bluetooth</td>
                </tr>
    
                <tr>
                    <td>Armazenamento: 64 MB RAM expansível até 1GB</td>
                </tr>
    
                    <tr>
                        <td>Sistema Operacional: Windows Mobile 2002 </td>
                    </tr>
            </table>
        </div>     
        
        
        
        <div>
                <table border="1" class="table table-bordered">
                    <tr>
                        <td rowspan="5" id="td"><br><br><br>Tablet</td> 
                        <td>Processador: Quad Core 1.3 Ghz</td>
                    </tr>
                       
                    <tr>
                        <td>Memória: RAM  1.5GB</td>
                    </tr>
                    <tr>
                        <td>Comunicação: Bluetooth / Wireless</td>
                    </tr>
        
                    <tr>
                        <td>Armazenamento: Memória interna 8GB - expansível MicroSD até 128GB</td>
                    </tr>
        
                        <tr>
                            <td>Sistema Operacional: Android 4.4</td>
                        </tr>
                </table>
            </div>

            	
            
            
            
            


            <div>
                    <table border="1" class="table table-bordered">
                        <tr>
                            <td rowspan="5" id="td"> <br><br><br>Notebook</td> 
                            <td>Processador: Intel® Core™ i7-5500U Dual Core 2.4 GHz com Turbo Max até 3.0 GHz</td>
                        </tr>
                           
                        <tr>
                            <td>Memória: 8 GB DDR3L</td>
                        </tr>
                        <tr>
                            <td>Comunicação: Bluetooth 4.0 / Wireless</td>
                        </tr>
            
                        <tr>
                            <td>Armazenamento: HD 1 TB 5400 RPM</td>
                        </tr>
            
                            <tr>
                                <td>Sistema Operacional:  Windows 10 Home Single Language</td>
                            </tr>
                    </table>
                </div>
               	
    
	
	
	
	




                    

 

 


{% endblock %}







